<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .active1{ background:red;}
        .active2{ background:blue;}
    </style>
    <!--<script src="ZJs/angular.js"></script>-->
    <script src="ZJs/AngularJS v1.4.9.js"></script>

    <script>
        var m1=angular.module('myApp',[]);

        m1.controller('Aaa',['$scope',function($scope){
            $scope.dataList=[
                'a1', 'b2', 'c3', 'd4', 'e5'
            ];
        }]);
    </script>

</head>
<body>
    <div ng-controller="Aaa">
        <ul>
            <!--<li ng-repeat="data in dataList">{{$index}}</li> --> <!--$index 索引-->
            <!--<li ng-repeat="data in dataList">{{$middle}}</li>-->
            <!--$first:第一项返回true，其他为false;  $last; middle 首尾为false;-->
            <!--<li ng-repeat="data in dataList">{{$odd}}</li>-->
            <!--<li ng-repeat="data in dataList">{{$even}}</li>-->
            <li class="{{$even? 'active1' : 'active2'}}" ng-repeat="data in dataList">{{data}}</li>
        </ul>

        <div ng-repeat-start="data in dataList">{{data}}</div>
        <p>{{data}}</p>
        <div ng-repeat-end>{{data}}</div>
    </div>
</body>
</html>












