<!DOCTYPE html>
<html ng-app><!--初始化（调用）的指令 没有angular不会执行--> <!--以 ng- 开头的属性叫【指令】 完成一些功能 -->
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="ZJs/angular.js"></script>

    <script>
        function Aaa($scope){ // angular形参不能传参；形参有自带的参数-依赖注入（服务-功能）；
            $scope.iphone={
                money:5,
                num:1,
                free:10
            };

            $scope.sum=function(){
                return $scope.iphone.money*$scope.iphone.num;   // return;
            };

            /*$scope.$watch('iphone.money',function(){          //监听 只能监听单值的变化；3个参数；前两个必选 ；
                console.log(123);
            });*/

/*            $scope.$watch('iphone',function(){          //监听 只能监听单值的变化；3个参数；前两个必选 ；
                console.log(123);
            },true);                                      // true 深度监听； 多个参数；*/

            /*$scope.$watch('iphone.money',function(newVal,oldVal){   // 回掉的参数；
                console.log(newVal);
                console.log(oldVal);
            },true);*/

            $scope.$watch($scope.sum, function(newVal,oldVal){   // 回掉的参数；
                /*console.log(newVal);
                console.log(oldVal);*/

                $scope.iphone.free = newVal >=100? 0 :10;  // 三目运算；
            },true);
        }
    </script>
    
</head>
<body>
    <div ng-controller="Aaa">   <!--[controller] -->
        <p>价格：<input type="text" ng-model="iphone.money"/></p>
        <p>个数：<input type="text" ng-model="iphone.num"/></p>
        <p>费用：<span>{{sum() | currency:'￥'}}</span></p>   <!--currency-->
        <p>运费：<span></span>{{iphone.free | currency:'￥'  }}</p>
        <p>总额：<span>{{sum()+iphone.free | currency :'￥' }}</span></p>
    </div>
</body>
</html>